Non-Schema Issue, RFC 7998, New Section 5.4.10, Index Insertion


RFC7998 does not say a word about inserting xml for the index, if one is
requested, but it seems counter-intuitive not to produce xml for the
index as part of the preptool processing, given all the other prepping
that's being done.  What's more, in Section 2.27 of RFC 7991 there's
this text:

"When the prep tool is creating index content, it collects the items
in a case-sensitive fashion for both the item and sub-item level."

Recommendation:  Insert the XML necessary to render the index into the
prepped XML.

Implementation:  Implemented as proposed in the current version of
xml2rfc.