Non-Schema Issue, RFC 7998, New Section for Index


RFC7998 does not say a word about index, but it seems counter-intuitive
not to produce one, given all other prepping being done.  What’s more,
in Section 2.27 of RFC 7991 there’s this text:

“When the prep tool is creating index content, it collects the items
in a case-sensitive fashion for both the item and sub-item level.”