Non-Schema Issue, RFC 7991, In Section 2.40.1, "anchor" Attribute


Section 5.1 of RFC 7992 says in part:

"The prep tool produces XML with anchor attributes in all elements
that need them."

This is rather vital information regarding the content of the prepped
xml when building a formatter, unfortunately it is not mentioned in RFC
7991.

Recommendation:  Add this information to the successor of RFC 7991, and
to the formatter specifications.