Schema Issue, RFC 7991, In Section 2.42, <references>

    The v3 schema cannot properly model multiple reference subsections    contained within one numbered section.  The v2 formatter handled this by    silently inserting a containing section, but with the introduction of    the preptool, which in theory should produce a master file from which    various formatters would produce equivalent results, this becomes    troublesome, as the automatic insertion of a container section is    specified for the html formatter, in section 9.8. of RFC 7992, but not    for the text formatter.  It would be much better to make the prepped xml    explicitly show exactly what should be rendered, and not rely on    formatters silently insert elements.     Recommendation:  Update the schema to make it possible for <references>                     to contain <references>, and have the prepped xml                     explicitly show both the encapsulating section and the                     subsections.  The current preptool implementation does                     this.